.body-comps {
    width: 100%;
    z-index: -1;
    // position: absolute;
    // height: 800px;
    margin-bottom: -150px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: rgb(254,135,115);
    // -webkit-mask-image: linear-gradient(107deg, rgba(254,135,115,0.7679446778711485) 0%, rgba(254,135,115,1) 99%);
}

// // .body-div {
// //     width: 100%;
// //     z-index: -1;
// //     height: 100vh;
// //     // margin-bottom: -150px;
// //     // background: rgb(254,135,115);
// //     background-image: linear-gradient(red);
// //     // background-image: linear-gradient(rgba(254,135,115,0.7035189075630253));
// // }

.body-div {
    background: #EAEDED;
}

// .body-products {
//     z-index: 1;
// }

.body-comps {
    display: flex;
    // align-items: center;
    justify-content: center;
    // width: 1651px;
    // height: 300px;
    // background-color: black;
    // margin-left: 0;
}

// .body-products {
//     margin-top: 300px;
// }

.body-products-top {
    // max-width: 1651px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    // width: 100px;
    // background: red;
    justify-content: space-around;
    margin-top: -150px;
}

.body-products-top  div {
    background: white;
    width: 365px;
    // height: 465px;
}

.body-products-bottom {
    // max-width: 1651px;
    display: flex;
    align-items: center;
    // width: 100px;
    justify-content: space-around;
    margin-top: 30px;
}

.body-products-bottom  div {
    background: white;
    width: 365px;
    // height: 365px;
    // height: 465px;
}

// .product1 {
//     background: white;
//     width: 265px;
// }

// .product2 {
//     background: white;
//     width: 365px;
// }

// .product3 {
//     background: white;
//     width: 365px;
// }

// .product4 {
//     background: white;
//     width: 365px;
// }