.cart-container {
    margin: 24px 0px 600px 22px;
    padding: 0px 0px 14px;
    font-family: Arial, sans-serif;
}

.cart-title {
    font-size: 28px;
    font-family: Arial, sans-serif;
    max-width: 500px;
    color: 0F1111;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.cart-item-left img {
    height: 180px;
}

.cart-items {
    max-width: 500px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.cart-item {
    display: flex;

}

.cart-item-right {
    padding-left: 10px;
}

.cart-item-title {
    font-size: 18px;
    color: #0066C0;
    margin: 8px 0px 5px;
    display: block;
}

.cart-item-title:hover {
    color: #c45500;
    text-decoration: underline;
    cursor: pointer;
}

.cart-item-in-stock {
    color: #007600;
    font-size: 12px;
    line-height: 16px;
}

.cart-item-prime-logo {
    display: flex;
    font-size: 14px;
    color: #111111;
    margin: 5px 0px;
    width: 200px;
}

.cart-item-prime-logo img {
    padding-right: 3px;
}

.gift {
    font-size: 12px;
    margin-left: 0px;
}
.gift-text {
    vertical-align: 17%;
    padding-left: 3px;
}

.delete-cart-item {
    color: #0066C0;
    background: transparent;
    width: 50px;
    height: 20px;
    border: none;
    border-left: 1px solid #ddd;
    margin: auto;
    margin-left: 0px;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 12px;
}
.delete-cart-item:hover {
    cursor: pointer;
    color: #ff9900;
    text-decoration: underline;
}
.delete-cart-item:focus, .delete-cart-item:active {
    outline: none;
}

.cart-main-cont {
    display: flex;
    position: relative;
}

.cart-right {
   position: absolute;
    right: 5px;
    height: 130px;
    width: 300px;
    border: 1px #ddd solid;
    border-radius: 4px;
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #f3f3f3;
    padding: auto;
    margin-left: 20px;
    margin-top: -20px; 
}
.subtotal-cont {
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.subtotal-title {
    font-size: 18px;
    padding-bottom: 5px;
}

.subtotal-price {
    font-weight: bold;
}

.cart-right-gift {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cart-right-input-gift {
    padding-top: 10px;
    padding-bottom: 20px;   
}

.checkout-btn {
    background: #FFD813;
    border: none;
    height: 35px;
    width: 100%;
    font-size: 14px;
    margin-top: 18px;
    line-height: 20px;
    border-radius: 7px;
    border-color: #a88734 #9c7e31 #846a29;
}

.checkout-btn:hover {
    cursor: pointer;
    background: #F7CA01;
}


.checkout-msg {
    width: 300px;
    height: 73px;
    color: #007600;
    font-size: 17px;
    line-height: 25px;
    top: 68px;
    margin-left: -29px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
}

.checkout-btn:focus .checkout-msg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-noprod-cont {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px 650px 30px;
}

.cart-empty {
    font-size: 18px;
    margin-top: 15px;
}