.nav-bar-top {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #141921;
    position: sticky;
    top: 0;
    z-index: 100;
    // background-color: #232F3E; COLOR FOR BAR UNDER NAV BAR
}

.nav-bar-menu {
    width: 38px;
    height: 40px;
}

.nav-bar-menu-icon {
    height: 23x;
    width: 21px;
    margin-left: 10px;
    padding: 5px;
    border: #aaaaaa75 1px solid;
}

.nav-bar-menu-icon:hover {
    border: white 1px solid;
    cursor: pointer;
}

.nav-bar-logo img {
    width: 120px;
    object-fit: contain;
    margin: 0 20px;
    margin-left: 5px;
    margin-top: 5px;
    // padding-right: 10px;
    // margin-right: -7px;
    // color: white;
    // display: flex;
    // align-items: center;

    padding: 5px;
    border: transparent 1px solid;
}

.nav-bar-logo img:hover {
    border: white 1px solid;
    cursor: pointer;
}

.nav-bar-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 30px;
    // width: 635px;
}

.nav-bar-search-input:focus {
    -webkit-box-shadow: 0px 0px 2.5px 2.5px rgba(231,118,0,0.9);
  -moz-box-shadow: 0px 0px 1.5px 1.5px rgba(231,118,0,0.9);
  box-shadow: 0px 0px 2.5px 2.5px rgba(231,118,0,0.9);
  outline: 0;
}

// .nav-bar-search:focus {
//     -webkit-box-shadow: 0px 0px 2.5px 2.5px rgba(231,118,0,0.9);
//   -moz-box-shadow: 0px 0px 1.5px 1.5px rgba(231,118,0,0.9);
//   box-shadow: 0px 0px 2.5px 2.5px rgba(231,118,0,0.9);
//   outline:1;
// }

.nav-bar-search-input {
    display: flex;
    flex: 1;
    height: 40px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.nav-bar-search img {
    padding: 5px;
    height: 34px;
    background-color: #febd69;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-bar-search img:hover {
    cursor: pointer;
    background-color: #F3A846;
}

.nav-bar-right {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    // margin-left: 10px;
    // margin-right: 10px;
    // color: white;
    font-family: Arial, sans-serif;
}

.nav-bar-right-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    border: transparent 1px solid;
    // margin-bottom: 10px;
}

.nav-bar-right-option:hover {
    border: white 1px solid;
    cursor: pointer;
}
.nav-bar-right-option-1-container {
    position: relative;
    text-align: left;
}
.nav-bar-right-option-1-dropdown {
    display: none;
    position: absolute;
    background: #ffffff;
    width: 450px;
    height: 100px;
   right: -110px;
   text-align: center;
    // margin-top: 10px;
}

.dropdown-signin-btn {
    width: 223px;
    height: 39px;
    color: black;
    font-size:14px;

  background: linear-gradient(#F7DEA1, #F0C14D);
  border: 0.5px solid #aaaaaa;
  border-radius:3px;
  margin-top: 10px;
}

.dropdown-signin-btn:hover{
background: linear-gradient(#F5D68A, #EEBA36);
cursor: pointer;
}

.dropdown-signout-btn {
    width: 223px;
    height: 39px;
    color: black;
    font-size:14px;

  background: linear-gradient(#F7DEA1, #F0C14D);
  border: 0.5px solid #aaaaaa;
  border-radius:3px;
  margin-top: 10px;
}

.dropdown-signout-btn:hover{
background: linear-gradient(#F5D68A, #EEBA36);
cursor: pointer;
}

.nav-bar-right-option-1-container:hover .nav-bar-right-option-1-dropdown {
    display: inline-block;
}

.dropdown-new-customer {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 11px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    // line-height: 0.1em;
}

.dropdown-new-customer p {
    color: black
}

.nav-bar-right-11 {
    font-size: 12px;
}

.nav-bar-right-12 {
    font-size: 15px;
    font-weight: 800;
}

.nav-bar-right-21 {
    font-size: 12px;
}

.nav-bar-right-22 {
    font-size: 15px;
    font-weight: 800;
}

.nav-bar-right-31 {
    font-size: 12px;
}

.nav-bar-right-32 {
    font-size: 15px;
    font-weight: 800;
}

// .nav-bar-right-cart {
//     border: transparent 1px solid;
//     // width: 79px;
//     // height: 39px;
//     // padding: 0px 9px 11px 10px;
//     // display: flex
// }

// .nav-bar-right-cart:hover {
//     border: white 1px solid;
// }

// .nav-bar-right-cart img {
//     width: 48px;
//     height: 36px;
// }

// .nav-bar-right-cart strong{
//     font-size: 15px;
//     font-weight: 800;
//     font-family: Arial, sans-serif;
//     color: white;
// }

.nav-bar-bottom {
    width: 100%;
    height: 40px;
    position: sticky;
    background-color: #23303E;
}
