.outermost-div {
    position: relative;
    min-height: 100vh;
}
.main-content {
    // min-height: 100vh;
    // padding-bottom: 2.5rem;

    // position: relative;
}

.show-page-div {
    color: #0F1111;
    font-family: Arial, sans-serif;
    margin: 100px;
    margin-bottom: 300px;
}

.show-page-left {
    height: 600px; 
  overflow: hidden;
  flex-grow: 1;
}

.show-page-left img {
  transition: transform .5s ease;
  margin-bottom: 50px;
//   height: 100px;
}

.show-page-left:hover img {
  transform: scale(1.5);
  cursor: pointer;
}

.show-page-top {
    display: flex;
    justify-content: center;
    // margin: 0 auto;
}

.show-page-middle {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
    margin: 0px 30px 0px 30px;
}
.show-page-middle-left-cont {
    padding-bottom: 50px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
}
    

.show-page-middle-price-container {
    display: flex;
    font-size: 17px;
}

.show-page-price-text {
    position: relative;
    top: 2px;
}

.show-page-middle-price {
    color: #B12704;
    font-size: 20px;
}

.show-page-middle-price-prime-logo {
    position: relative;
    top: 3px;
}
.show-page-middle-price-prime-logo img {
    width: 60px;
}

.show-page-middle-ratings {
    display: flex;
    // justify-content: space-around;
    font-size: 14px;
    align-content: center;
}

.show-page-middle-ratings div {
   padding-top: 4px;
}

.show-page-middle-description-title {
    font-size: 22px;
}

.show-page-middle-description {
    font-size: 18px;
}

.show-page-middle-product-name {
    padding-bottom: 4px;
}

.show-page-middle-top {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
}

.show-page-middle-price-container {
    // border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.delivery-time {
    padding-top: 20px;
}

.show-page-right-instock {
    padding-top: 40px;
    color: #007600;
    font-size: 22px;
}

.show-page-right {
    flex-grow: 1;
}

.show-page-right-inner {
// position: static;
//   margin: 0 auto;
  border-color: #DDDDDD;
  border: 0.5px solid #DDDDDD;
  border-radius: 8px;
  width: 270px;
  height: 300px;
//   padding-left: 25px;
//   font-family: Arial, sans-serif;
}
.show-page-right-container {
    padding: 14px 18px 14px 18px;
}

.show-page-right-prime-and-ship {
    display: flex;
    // margin-top: 4px;
 
}

.show-page-right-price {
    color: #B12704;
    font-size: 21px;
    line-height: 24px;
    padding-bottom: 6px;
  
}

.show-page-right-prime img {
    height: 20px;
}

.show-page-right-buttons {
    // display: flex;
    // flex-direction: column;
    // align-content: flex-end;
    position: relative;
}

// .show-page-right-add-cart-btn {
//     position: relative;
//     // bottom: 0px;
// }

// .show-page-right-buynow-btn {
//     position: relative;
//     // bottom: 0px;
// }

.add-to-cart-btn{
  width: 206px;
  height: 33px;
  font-size: 14px;
  padding: 1px 6px 1px 6px;
  background: linear-gradient(#F7E0A5, #F0C14C);
  border: 0.5px solid #aaaaaa;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
//   position: absolute;
//   bottom: 0px;
}

.add-to-cart-btn:hover{
background: linear-gradient(#F5D68A, #EEBA36);
cursor: pointer;
}

.buy-now-btn{
  width: 206px;
  height: 33px;
  font-size: 14px;
  padding: 1px 6px 1px 6px;
  background: linear-gradient(#F6C992, #ED9222);
  border: 0.5px solid #aaaaaa;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    //   position: absolute;
//   bottom: 0px;
}

.buy-now-btn:hover {
    background: linear-gradient(#F4BE7B, #E18614);
    cursor: pointer;    
}


.show-page-bottom {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 100px;
}

.show-page-bottom h3 {
    color: #CC6600;
}

.show-page-reviews-title {
    color: #CC6600;
}