
.search-results-div {
    width: 100%;
}
.search-results-container{
    display: flex;
    margin-top: 75px;
    font-family: Arial, sans-serif;
    width: 100%;
    // display: inline-block;

}

.search-ul {
  display: flex;
  flex-wrap: wrap;
//   justify-content: center;
//   padding-left: 20px;
//   width: 83%;
  align-items: center;
//   position: relative;  
//   left: 6.4%;
}

.search-link {
    text-decoration: none;
}

.search-results-right {
    display: flex;
    // max-width: 200px;
    // width: 600px;
}

.search-results-left-sidebar-container {
    border-right: 1px solid #DDDDDD;
    height: 300px;
    margin: 10px;
}

.search-results-product-container {
    float: left;
    // width: 200px;
    // display: flex;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 30px;
    padding: 0px 12px 20px 12px;
    // width: 320px;
    border-bottom: 1px solid #DDDDDD;
}

// .search-results-product-container {
//     float: left;
//     // width: 200px;
//     display: flex;
//     list-style-type: none;
//     margin-right: 10px;
//     padding: 0px 12px 20px 12px;
//     // width: 320px;
//     border-bottom: 1px solid #DDDDDD;
// }

.search-results-product-container img {
    height: 320px;
   margin-bottom: 15px;
}

.search-results-product-container:hover {
    cursor: pointer;
}

.search-results-product-name {
    font-size: 22px;
    padding-bottom: 5px;
}



.search-results-right ul {
    display: flex;
}

.search-results-product-footer {
    color: #565959;
}
.search-results-product-footer-2 {
    margin-bottom: 2px;
}

.search-results-product-footer-top {
    display: flex;
    align-items: center;
}

.search-results-product-footer-top img {
    width: 60px;
    height: 20px;
    position: relative;
    top: 7px;
}

.srpfb1 {
    margin-bottom: 2px;
}


.search-noprod-cont {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.search-noprod-line1 {
    font-size: 21px;
    font-weight: bold;
}

.search-noprod-line2 {
    font-size: 13px;
    padding-top: 8px;
}
